body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #160439;
}

.navbar-brand {
    width: 250px;
   
}


.navbar-logo{
    width:100%;
    height:auto;
    max-width:300px;
    padding: 20px 10% 30px 20px;

}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;

}

.nav-link {
    padding-left:20px;
}

.navbar-toggler {
    margin-left: auto;
    padding-right: 20px;
    font-size: 2rem;
}

.navbarNav {
    float: right;
}

.home-button {
    padding-right: 30px;
    font-size: 40px;
    /* I have used 30px previously while looks best on computers but unusable on phones */
}

.docs-button {
    padding-right: 30px;
    font-size: 40px;
}

.navbar-collapse {
    float: right;
}

.iframe-container {
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


